.card {
  margin-bottom: ($spacer * 2);
  box-shadow: $box-shadow;

  @at-root a#{&} {
    @include media-breakpoint-up('md') {
      transition: $transition-base;
      will-change: transform;

      @include hover {
        transform: translateY(-2rem);
      }
    }
  }

  &.card-sm {
    @include media-breakpoint-up('md') {
      text-align: center;
    }

    @at-root a#{&} {
      @include media-breakpoint-up('md') {
        @include hover {
          transform: translateY(-1rem);
        }
      }
    }

    .card-header {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .card-body {
      padding-top: 3rem;

      @include media-breakpoint-up('md') {
        justify-content: center;
      }
    }

    .card-title {
      @include media-breakpoint-down('sm') {
        i {
          right: 0;
        }
      }
    }
  }
}


.card-header {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &.carousel {
    min-width: 100%;
    padding: 0;
    filter: none;
  }
}

.card-body {
  padding-top: 3rem;
  padding-bottom: 3rem;

  ul li {text-align:left;}

  &.d-flex.flex-column.small {
    @include media-breakpoint-down('sm') {
      padding-left: 80px; // UNDER REVIEW
    }
  }


  .border-bottom {
    border-bottom-color: rgba($link-color, .3);
  }
}

.card-title {
  @extend h4;
  &.card-title-lg {@extend h3;}
  &:not(:last-child) {
    margin-bottom: $spacer;
  }

  &:last-child {
    margin-bottom: 0;
  }



  @include media-breakpoint-down('sm') {
    position: relative;

    &.d-flex.flex-column.small {
      padding-right: 3.4rem; // UNDER REVIEW
    }

    img {
      position: absolute;
      top: 50%;
      left: -60px;
      transform: translateY(-50%);
      width: 50px;
    }

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.card-text {
  color: $text-muted;
  @include media-breakpoint-up('md') {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}


.card-footer {background: none;}

a.card .card-header,
a.card .card-body {
  color: $text-muted;
}

a.card {
  .card-link {color: $link-color;}
  &:hover .card-link {
    color: $link-hover-color;
  }

}
