.modal {
  &.modal-video {
    .close {
      position: fixed;
      top: 0;
      right: 0;
      padding: 2rem;
      opacity: 1;

      span[aria-hidden="true"] {
        font-size: 0;
      }
    }

    .modal-content {
      background: none;
      border-radius: 0;
      box-shadow: none;
    }

    .modal-header {
      padding: 0;
      border: 0;
      border-radius: 0;
    }

    .modal-body {
      padding: 0;
    }
  }
}
