// Custom Variables

/* Fonts */
$fontPrimary: $font-family-base;
$fontSecondary: "Roboto", sans-serif;
$fontSizeXs: 12px;
$fontSizeSm: 14px;
$fontSizeMd: 16px;
$fontSizeLg: 18px;
$fontSizeXl: 45px;

/* Additional app colors */
$green-gradient: #29cb96;

/* Gradients */
$brandGradient: radial-gradient(circle at 100% 50%, $green-gradient, $purple);
$brandGradient-up: radial-gradient(circle at 50% 75%, $green-gradient, $purple 66.6%);
$brandGradient-down: radial-gradient(circle at 50% -30%, $green-gradient, $purple 66.6%);

/* Shadow */
$shadow: 0 -5px 35px 5px rgba($black, .1);
$shadow-down: 0 15px 40px -13px rgba($black, .12);

$footerHeight: 295px;

// Hardcoding navbar height in styles to assign a value to a property more quickly than from JS
$navbar-height: 5.5rem;
$navbar-height-md: 11rem;

