/* Layout: App-header */

#app-header {
  padding: 16px 30px;
  color: $colorWhite;
  background: $brandBlack;

  .app-layout--error & {
    padding: 48px 30px 0;
  }

  > * {margin-bottom: 0;}
}


/* THEME */

#app-header.app-header--themed {
  position:relative;
  background-image: url('/img/style/bg-header.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% -52%;
  background-size: 100%;

  * {z-index: 10;}

  > h1 {line-height: 34px;}

  transition: all .5s ease-out;

  &::after {
    content: '';
    display:block;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    transition: all 0.8s 0.1s ease-out;
  }
  &:hover {
    background-position: 50% -48%;
    box-shadow: 0 -5px 15px $shadowColor inset;
  }
}
