/* Layout: App-footer */

#app-footer {
  color: $white;
  background: theme-color('accent');
}

/* Sticky footer styles // REVIEW
-------------------------------------------------- */
html.stiky-footer {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: $footerHeight; /* Margin bottom by footer height */
  }
}
#app-footer.app-footer--stiky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight; /* Set the fixed height of the footer here */
}
