/* Layout: app-layout */


.section-wrapper {
  padding: 60px 0;
}

.app-layout--error {
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  background: $white;

  #app-header,
  #app-content {background: none;}
}
