/* Layout: App-footer */

#app-footer {
  overflow: hidden;
  position: relative;
  padding: 40px 30px;
  background: $light;

  .row > * {
    z-index: 10;
  }
  .pulse-box {
    position: absolute;
    left: 0;
    bottom: -200px;
    right: 0;
    z-index: 1;
  }
}

/*
  Fix pulse-box issue:
  Hides the white space that appears when scrolling to bottom
*/
#html::after {
  position: fixed;
  bottom: -15px;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 30px;
  width: 100%;
  background-color: $light;
}


/* Sticky footer styles
-------------------------------------------------- */
html.stiky-footer {
  position: relative;
  min-height: 100%;

  body {
    margin-bottom: $footerHeight; /* Margin bottom by footer height */
  }
}
#app-footer.app-footer--stiky {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight; /* Set the fixed height of the footer here */
}
