/* Layout: Content Dividers */

hr {
  margin: ($spacer * 10) 0;
  @include media-breakpoint-down('sm') {
    margin: ($spacer * 5) 0;
  }
}

hr.divider {
  position: relative;
  top: -($spacer * 3);
  height: ($spacer * 4);
  border: none;
  box-shadow: 0 15px 40px -13px rgba(0, 0, 0, .12);
  overflow: hidden;

  @include media-breakpoint-down('sm') {
    margin: ($spacer * 5) 0;
  }
}

