/* ALERT */

.alert {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10000000000000;
  max-width: 370px;
  padding: 20px 47px 20px 50px;
  font-size: 15px;
  letter-spacing: 0.06em;
  border-radius: 4px !important;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);

  /* Small Devices, Tablets */
  @media only screen and (max-width: 768px) {
    top: 0;
    left: 0;
    right: 0;
    max-width: none;
    border-radius: 0 !important;
  }

  .close {
    top: 8px;
    font-size: 21px;
    font-weight: bold;
  }

  [class*="wicon-"] {
    position: absolute;
    top: 22px;
    left: 22px;
    font-size: 19px;
    opacity: 0.5;
  }

  &.alert-danger {
    color: $colorWhite;
    border: $colorDanger;
    background: $colorDanger;
  }

  &.alert-warning {
    color: $colorWhite;
    border: $colorWarning;
    background: $colorWarning;
  }

  &.alert-success {
    color: $colorWhite;
    border: $colorSuccess;
    background: $colorSuccess;
  }

  &.alert-info {
    color: $colorWhite;
    border: $colorInfo;
    background: $colorInfo;
  }
}
