/* BUTTONS */

/*---
title:   Buttons
section: Components
---

We are using Bootstrap style buttons.<br/>
Check the documentation below.
- https://getbootstrap.com/docs/4.0/components/buttons/

Below are the button styles we used until now.

```example:html
<a class="btn btn-primary btn-sm" href="#">Small Button</a>
<a class="btn btn-info btn-xl" href="#">Extra Large Button</a>
```

*/


.btn {
  border-right: 2px;

  &.btn-xl {
    font-size: 35px;
    line-height: 1.2;
  }

  .material-icons {color: inherit; font-size: inherit;}
}

.btn-primary {
  border-color: $colorPrimary;
  background-color: $colorPrimary;
  &:hover {
    border-color: darken($colorPrimary, 15%);
    background-color: darken($colorPrimary, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorPrimary, 25%);}

 }
.btn-accent {
  color: $colorWhite;
  border-color: $colorAccent;
  background-color: $colorAccent;
  &:hover {
    color: $colorWhite;
    border-color: $colorAccent;
    background-color: darken($colorAccent, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorAccent, 25%);}

 }
.btn-secondary {
  border-color: $colorSecondary;
  background-color: $colorSecondary;
  &:hover {
    border-color: $colorSecondary;
    background-color: darken($colorSecondary, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorSecondary, 25%);}

 }
.btn-success {
  border-color: $colorSuccess;
  background-color: $colorSuccess;
  &:hover {
    background-color: darken($colorSuccess, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorSuccess, 25%);}

 }
.btn-danger {
  border-color: $colorDanger;
  background-color: $colorDanger;
  &:hover {
    background-color: darken($colorDanger, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorDanger, 25%);}

 }
.btn-warning {
  border-color: $colorWarning;
  background-color: $colorWarning;
  &:hover {
    background-color: darken($colorWarning, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorWarning, 25%);}

 }
.btn-info {
  border-color: $colorInfo;
  background-color: $colorInfo;
  &:hover {
    background-color: darken($colorInfo, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorInfo, 25%);}

 }
.btn-light {
  border-color: $colorLight;
  background-color: $colorLight;
  &:hover {
    background-color: darken($colorLight, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorLight, 25%);}

 }
.btn-dark {
  color: $colorWhite;
  border-color: $colorDark;
  background-color: $colorDark;
  &:hover {
    background-color: darken($colorDark, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorDark, 25%);}

 }
.btn-muted {
  border-color: $colorMuted;
  background-color: $colorMuted;
  &:hover {
    background-color: darken($colorMuted, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorMuted, 25%);}

 }
.btn-white {
  border-color: $colorWhite;
  background-color: $colorWhite;
  &:hover {
    background-color: darken($colorWhite, 15%);
  }
  &:not(:disabled):not(.disabled):active {background-color: darken($colorWhite, 25%);}

 }
