.dropdown-toggle {
  &[aria-expanded="true"] {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.dropdown-menu {
  @include scale;

  @include media-breakpoint-up(lg) {
    left: 50%;
    transform: translateX(-50%);
  }
}
