.nav-tabs {
  border: none;

  @include media-breakpoint-down('sm') {
    margin-left: -#{$grid-gutter-width / 2};
    margin-right: -#{$grid-gutter-width / 2};
    overflow-x: auto;
    overflow-y: hidden;
  }

  .nav-item {
    margin-bottom: 0;
  }

  .nav-link {
    padding-top: 0;
    border: none;
    border-radius: 0;
    opacity: .3;
    transition: $transition-base;

    @include hover {
      opacity: .4;
    }

    @include media-breakpoint-down('sm') {
      &::before {
        display: none;
      }
    }

    &.active {
      position: relative;
      background: none;
      opacity: 1;

      &::before {
        @include size(0);
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom: 2rem solid $white;
        content: "";
      }
    }
  }
}

.tab-content {
  box-shadow: 0 -5px 35px 5px rgba($black, .1);
}
