
// NEW COMPONENTS

// Nav Pointers
.nav-pointers {
  border: none;

  // Under review
  @extend .row;
  @extend .flex-nowrap;

  @include media-breakpoint-down('sm') {
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: #{$grid-gutter-width / 2};
    margin-right: #{$grid-gutter-width / 2};
  }

  .nav-item {
    margin-bottom: 0;

    // Under review
    // text-align: center;

    padding: 0 15px;

    @include media-breakpoint-down('sm') {
      padding: 0 5px;
    }
  }

  .nav-link {
    padding-top: 0;
    border: none;
    border-radius: 0;
    opacity: .3;
    transition: $transition-base;

    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .h-100;
    @extend .pb-2;

    @include hover {
      opacity: .4;
    }

    @include media-breakpoint-down('sm') {
      &::before {
        display: none;
      }
    }

    &.active {
      position: relative;
      background: none;
      opacity: 1;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        @include size(0);
        transform: translateX(-50%);
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom: 2rem solid $white;
      }
    }

    > img:only-child {
      @extend .img-fluid;
    }
  }

  & + .tab-content {
    box-shadow: $shadow;
  }
}


