
// NEW COMPONENTS

// Nav Pointers
.nav-pointers {
  margin: 0;
  padding: 0;
  border: none;

  .nav-item {
    margin: 0;
    padding: 0 ($spacer * 2);
  }

  .nav-link {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .h-100;


    padding: 0 0 ($spacer * 3) 0;
    border: none;
    border-radius: 0;
    opacity: .3;
    transition: $transition-base;

    @include hover {
      opacity: .4;
    }

    @include media-breakpoint-down('sm') {
      &::before {
        display: none;
      }
    }

    &.active {
      position: relative;
      background: none;
      opacity: 1;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        @include size(0);
        transform: translateX(-50%);
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom: 2rem solid $white;
      }
    }

    > img:only-child {
      @extend .img-fluid;
      width: 160px;
    }
  }

  & + .tab-content {
    box-shadow: $shadow;
  }
}


