.pagination {

  .page-item {
    min-width: 30px;
    text-align: center;
    font-family: $fontSecondary;
  }

  &.pagination-sm {
    .page-item {
      min-width: 25px;
    }
  }
  &.pagination-lg {
    .page-item {
      min-width: 45px;
    }
  }

}
