// TYPOGRAPHY - - - - - - - - - - - - - - - - - - - - - - - - -


// Headings
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
.lead {
  margin-bottom: ($spacer * 2);
  &.title-display {
    @extend .display-4;
  }
}
h5, .h5,
h6, .h6 {
  margin-bottom: ($spacer);
}
h6, .h6 {
  text-transform: uppercase;
  color: $text-muted;
}

// Links
a:hover {
  text-decoration: none;
}

// Font variants
small {
  font-size: $fontSizeSm;
  font-weight: inherit;
}

// Text & Link modifiers

.text-alpha,
a.text-alpha {
  transition: opacity .2s ease-in-out;
  opacity: .3;
}
a.text-alpha:hover {
  opacity: 1;
}

a.text-alpha-inverse {
  transition: opacity .2s ease-in-out;
  opacity: 1;
  &:hover {opacity: .7;}
}

// Del
del {
  opacity: .8;
  text-decoration: line-through;
}
