// TYPOGRAPHY - - - - - - - - - - - - - - - - - - - - - - - - -


//Linkd
a.d-block {
  * {
    transition: opacity 0.1s ease-out;
  }
  &:hover {
    text-decoration: none;
    * {
      opacity: .9;
      transition: opacity 0.2s ease-out;
    }
  }
}

a:hover {
  text-decoration:none;
}

.text--alpha {
  transition: all .2s ease-in-out;
  opacity: .3;
}

a.text--alpha {
  @extend .text--alpha;
  &:hover {opacity: 1;}
}
a.text--alpha-inverse {
  transition: all .2s ease-in-out;
  opacity: 1;
  &:hover {opacity: .7;}
}

// Headings
h4, .h4 { @include scale($h4-font-size, up); }
h5, .h5 { @include scale($h5-font-size, up); }
h6, .h6 { @include scale($h6-font-size, up); }


// Font variants
small, .small { @include scale($small-font-size, up); }


// Blockquote
.blockquote {
  > p {
    .mdi[class*="mdi-format-quote"] {
      position: absolute;
      color: $primary;
      &.mdi-format-quote-open {
        top: -36px;
        left: 0;
      }
      &.mdi-format-quote-close {
        bottom: -36px;
        right: 0;
      }
    }
  }
}

.blockquote-footer {
  &::before { display: none; }
  cite.media-body {font-style: normal;}
}


// Alternative blockquote
.blockquote.blockquote--alt {
  margin-bottom: 0;
  a {
    &:last-child {
      margin-left: 1rem;
      @include scale($small-font-size, up);
    }
  }
  .media {
    font-size: $font-size-base;
  }
}



// MDI Icons
// TODO: Move icon styles to its own file
.mdi {
  &.mdi-xxl {
    &::before {
      font-size: 200px;
      line-height: 200px;
    }
  }
}

.mdi-spin::before {
  animation: mdi-spin 1s infinite linear;
}

.loader {
  @extend .d-flex;
  @extend .align-items-center;
  @extend .justify-content-center;
  display: block;
  width: auto;
  height: 100%;
  text-align:center;

  .mdi {
    @extend .mdi-spin;
    color: $primary;
  }
}


//HR

hr {border-color: $gray-200}
