/* Helpers */

// Backgrounds
.bg--accent { background-color: $colorAccent !important }

// Gradients
[class*="bg--grad"] { background-color: $purple !important; }
.bg--grad {background-image: $brandGradient !important;}
.bg--grad-up {background-image: $brandGradient--up !important;}
.bg--grad-down {background-image: $brandGradient--down !important;}


// Fonts
.font--alt {
  font-family: $fontSecondary !important;
}

// Text size
.text--breakword {word-wrap: break-word !important; }
.text--xs { font-size: 11px !important; }
.text--sm { font-size: 14px !important; }
.text--md { font-size: 16px !important; }
.text--lg { font-size: 18px !important; }
.text--xl { font-size: 45px !important; }
.text--xxl {
  font-size: 60px !important;
  line-height: 75px !important;
  strong {font-weight: 900 !important;}
}

// Decorators
.block-shadow {
  box-shadow: 0 -5px 35px 5px rgba($black, .1) !important;
  // REVIEW: Consider overwrite bootstrap box-shadow utilities (.shadow-lg)
}
