/* Helpers */

// Gradients
[class*="bg-grad"] { background-color: $purple !important; }
.bg-grad {background-image: $brandGradient !important;}
.bg-grad-up {background-image: $brandGradient-up !important;}
.bg-grad-down {background-image: $brandGradient-down !important;}


// Fonts
.font-alt {
  font-family: $fontSecondary !important;
}

// Text size
.text-breakword {word-wrap: break-word !important; }
.text-xs { font-size: $fontSizeXs !important; }
.text-sm { font-size: $fontSizeSm !important; }
.text-md { font-size: $fontSizeMd !important; }
.text-lg { font-size: $fontSizeLg !important; }
.text-xl { font-size: $fontSizeXl !important; }
.text-xxl {
  font-size: 60px !important;
  line-height: 75px !important;
  strong {font-weight: 900 !important;}
}

// Decorators
.block-shadow {
  box-shadow: $shadow !important;
  // REVIEW: Consider overwrite bootstrap box-shadow utilities (.shadow-lg)
}
