/* Helpers */

.font--alt {
  font-family: $fontSecondary !important;
}

.text-primary { color: $colorPrimary !important }
.text-accent { color: $colorAccent !important }
.text-secondary { color: $colorSecondary !important }
.text-success { color: $colorSuccess !important }
.text-danger { color: $colorDanger !important }
.text-warning { color: $colorWarning !important }
.text-info { color: darken($colorInfo, 5%) !important }
.text-light { color: $colorLight !important }
.text-dark { color: $colorDark !important }
.text-muted { color: $colorMuted !important }
.text-white { color: $colorWhite !important }

.bg-primary { background-color: $colorPrimary !important }
.bg-accent { background-color: $colorAccent !important }
.bg-secondary { background-color: $colorSecondary !important }
.bg-success { background-color: $colorSuccess !important }
.bg-danger { background-color: $colorDanger !important }
.bg-warning { background-color: $colorWarning !important }
.bg-info { background-color: $colorInfo !important }
.bg-light { background-color: $colorLight !important }
.bg-dark { background-color: $colorDark !important }
.bg-muted { background-color: $colorMuted !important }
.bg-white { background-color: $colorWhite !important }
.bg--marker {background: yellow !important }

.link-primary { color: $colorPrimary !important }
.link-accent { color: $colorAccent !important }
.link-secondary { color: $colorSecondary !important }
.link-success { color: $colorSuccess !important }
.link-danger { color: $colorDanger !important }
.link-warning { color: $colorWarning !important }
.link-info { color: darken($colorInfo, 5%) !important }
.link-light { color: $colorLight !important }
.link-dark { color: $colorDark !important }
.link-muted { color: $colorMuted !important }
.link-white { color: $colorWhite !important }

.text--breakword {word-wrap: break-word !important; }
.text--xs { font-size: 11px !important; }
.text--sm { font-size: 14px !important; }
.text--md { font-size: 16px !important; }
.text--lg { font-size: 18px !important; }
.text--xl { font-size: 45px !important; }
.text--xxl {
  font-size: 60px !important;
  line-height: 75px !important;
  strong {font-weight: 900 !important;}
}

.block-shadow {
  box-shadow: 0 -5px 35px 5px rgba($black, .1) !important;
  // REVIEW: Consider overwrite bootstrap box-shadow utilities (.shadow-lg)
}
