// SETTINGS - - - - - - - - - - - - - - - - - - - - - - - - - - -

$baseurl: "/";
@charset "utf-8";

// Redefined Bootstrap variables
@import "settings/bootstrap-variables";

// Dependencies: framework, fonts and icons
@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&amp;subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900");
@import url("//cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css");

// Custom variables
@import "settings/variables";

// Bootstrap overrides
@import "settings/bootstrap-mixins";
@import "settings/bootstrap-reboot";

::selection {
  background: lighten($purple, 55%);
}
