// Override Bootstrap Variables

@import "../font/wt-icons.css";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,600,800");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,800");
@import url("https://cdn.rawgit.com/ShakrMedia/tuesday/master/build/tuesday.min.css");

$fontPrimary: "Raleway", sans-serif;
$fontSecondary: "Catamaran", sans-serif;

/* brand colors */
$brandGreen: #00df9e;
$brandGreen--Subtle: #1ac592;
$brandBlue: #0b8fdf;
$brandBlack: #191919;
$brandGradient: linear-gradient(
  135deg,
  $brandGreen 0,
  $brandBlue 100%
);

$altGreen: #02ffb3;
$altTeal: #0ad7df;
$altBlue: #0948e0;
$altBlue--Dark: #0948e0;
$altPurple: #9f09e0;
$altPurple--Dark: #5709df;
$altMagenta: #df097e;

/* app colors */
$colorPrimary: $brandGreen;
$colorAccent: $brandBlue;
$colorSecondary: $altGreen;
$colorSuccess: $brandGreen--Subtle;
$colorDanger: $altMagenta;
$colorWarning: #efb547;
$colorInfo: $altTeal;
$colorLight: #dedede;
$colorDark: $brandBlack;
$colorMuted: #878f97;
$colorWhite: #fff;

/* specific colors */
$shadowColor: rgba(0, 0, 0, 0.2);
$shadowColor--subtle: rgba(0, 0, 0, 0.07);

/* shadows */
$shadow: 2px 2px 20px $shadowColor--subtle;
$shadow--xl: 5px 5px 40px $shadowColor,
1px 5px 20px $shadowColor--subtle;

$footerHeight: 295px;
