/* Shame */

/* Temporary styles */
/* https://csswizardry.com/2013/04/shame-css/ */


.page-header {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid $colorLight;
}


.highlight {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: lighten($colorLight, 10%);
}


// Reduce the whitespace in the top to make
// it consistent with components.
.markdown-body {
  > h1:first-of-type {
    margin-top: -25px;
  }

  @media all and (max-width: 768px) {
    display: none!important;
  }
}

.doc-preview {
  $borderStyle: 5px solid #f7f7f7;

  width: auto;
  border: $borderStyle;
  padding: 20px 25px;
  margin: 25px 0;
  border-radius: 3px;

  @media all and (max-width: 768px) {
    border: none;
    min-width: 100%;
    margin: 0 -30px;
  }

  & + .markdown-body > .language-html:first-of-type,
  & + .markdown-body > p:first-of-type:empty + .language-html {
    margin-top: -45px;
    border: $borderStyle;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.doc-preview--clean {
    margin-bottom: 0;
    padding: 20px 0;
    border: 0;
  }

  &.doc-preview--layout {
    position: relative;
    height: 500px;
    padding: 0;
  }

}


// Resizable blocks in storybooks
.resizable {
  max-width: 100%;
  padding: 20px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px;

  &:active {
    border-color: #ccc;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 1px;
    height: 40px;
    margin-top: -20px;
    background-color: #ccc;
    border: none;
    z-index: 10;
  }
  &::before { right: 23px;}
  &::after { right: 19px;}

  [style*="cursor: col-resize;"] {
    right: 0;
    min-width: 50px;
    background: #f7f7f7;
    border-left: 1px solid #ececec;

    &:active {
      border-left-color: #ccc;
    }
  }
}
