// SHAME - - - - - - - - - - - - - - - - - - - - - - - - -

// Temporary styles
// https://csswizardry.com/2013/04/shame-css/


.page-header {
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid $light;
}


.highlight {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: lighten($light, 10%);
}


.markdown-body {
  margin-bottom: 25px;

  // Reduce the whitespace in the top
  > h1:first-of-type {
    margin-top: -8px!important;
  }

  > .lead {
    font-size: 125%;
    line-height: 1.4;
  }
}

.doc-preview {
  $borderStyle: 5px solid #f7f7f7;

  width: auto;
  border: $borderStyle;
  padding: 20px 25px;
  margin: 0 0 25px 0;
  border-radius: 3px;

  > .container {
    padding-left: 0;
    padding-right: 0;
  }

  @media all and (max-width: 768px) {
    &:not(.doc-preview--layout) {
      border: none;
      min-width: 100%;
      margin: 0 -25px;
    }
  }

  & + .markdown-body > .language-html:first-of-type,
  & + .markdown-body > p:first-of-type:empty + .language-html {
    margin-top: -45px;
    border: $borderStyle;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  & + .markdown-body blockquote {
    padding: inherit;
    color: inherit;
    border-left: 0;
  }

  &.doc-preview--clean {
    padding: 20px 25px;
    margin-bottom: 0;
    border: 0;
  }

  &.doc-preview--layout {
    position: relative;
    height: 400px;
    padding: 0;
    margin-bottom: 0;
  }
}


// Resizable blocks in storybooks
.resizable {
  max-width: 100%;
  padding: 20px;
  padding-right: 65px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px;

  &:active {
    border-color: #ccc;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 1px;
    height: 40px;
    margin-top: -20px;
    background-color: #ccc;
    border: none;
    z-index: 10;
  }
  &::before { right: 23px;}
  &::after { right: 19px;}

  [style*="cursor: col-resize;"] {
    right: 0;
    min-width: 50px;
    background: #f7f7f7;
    border-left: 1px solid #ececec;

    &:active {
      border-left-color: #ccc;
    }
  }
}


// FIX - TO REVIEW
// Content in cads is not clickable on mobile
.card-body, .card-footer {position: relative;}



// REVIEW AND DISTRUBUTE IN THE APPROPIATED FILES
// Hotel Explorer imported styles


/* Map Container */
.map-container {
  margin: 0 auto;
  overflow: hidden;

  border-radius: 5px;

  &, > div {
    height: 300px;
  }

  @media all and (min-width: 400px) {
    &, > div {
      width: 100%;
    }
  }
}

.map-popup {
  text-align: center;
  p {
    margin: 3px 0!important;
    font-size: 14px;
  }
}

.leaflet-popup-content {
  margin: 15px 8px;
}


// Button (img hover)
.area-btn {
  overflow:hidden;
  position: relative;
  border: none;
  padding: 0;

  &:hover  {
    cursor: pointer;
    &::before {
      background-color: rgba(95, 41, 135, .9);
    }
    .area-btn__btn {
      display: flex;
      align-items: center;
      background: none;
      width: 100%;
      height: 100%;
      bottom: 0;

      i {width: 40px; margin: 0 auto;}
    }

  }
}
.area-btn__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #fff;
  line-height: 40px;
  background: #5F2987;
}

.area-btn::before {
  content: '';
  display:block;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  transition: all 0.1s ease-in-out;
}



/* Crop for card and carousel images */
.img-crop {
  overflow: hidden;

  padding-bottom: 65%;
  height: 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  img {visibility: hidden;}
}




/* Masonry grid */
.masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.masonry-grid__col {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
