.btn {
  @include scale($small-font-size, up);

  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-primary:not([disabled]) {
  @include hover {
    background: $secondary;
    border-color: $secondary;
  }
}

.btn-sm {
  font-size: 70%;
}
