// BUTTONS

// Style Adjustments
.btn {
  &.disabled {pointer-events: none;}
  @include scale($small-font-size, up);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn-primary:not([disabled]) {
  @include hover {
    background: $secondary;
    border-color: $secondary;
  }
}

.btn-link {
  text-transform: inherit;

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):focus:active {
    outline: none;
    box-shadow: none;
  }
}

// Icons inside buttons
.btn {

  > .mdi {
    display:inline-block;
    width: 20px;
    position: relative;
    margin-right: 2px;
    &::before {
      color: inherit;
      font-size: 150%;
      position: absolute;
      top: -21px;
      left: 0;
    }
  }

  &.btn-sm {
    > .mdi {
      width: 16px;
      &::before {
        font-size: 160%;
        top: -17px;
      }
    }
  }

  &.btn-lg {
    > .mdi {
      width: 25px;
      &::before {
        top: -25px;
      }
    }
  }
}

// New style (Accent)
.btn--accent {
  @extend .btn-secondary;
  border-color: $colorAccent;
  background-color: $colorAccent;

  &:hover {
    background: $secondary;
    border-color: $secondary;
  }
}

// Button sizes
.btn-sm {
  font-size: 65%;
}
.btn-lg {
  font-size: 105%;
}


.btn-group {
  &.btn-group--switch {

      > label {
        border-radius: 0!important;
      }
      @media all and (min-width: 301px) {
        > label:first-of-type {
          border-top-left-radius: $border-radius!important;
          border-bottom-left-radius: $border-radius!important;
        }
        > label:last-of-type {
          border-top-right-radius: $border-radius!important;
          border-bottom-right-radius: $border-radius!important;
        }
        > label:not(:first-of-type) {
          border-left: 0!important;
        }
      }


    @media all and (max-width: 450px) {
      display:block;
      > label {
        padding-left: 15px!important;
        padding-right: 15px!important;
      }
    }


    @media all and (max-width: 300px) {
      display:block;
      > label {
        display:block!important;
        min-width: 100%!important;
        float:none!important;
        margin-bottom: 0;
        border-radius: 0!important;
      }

      > label:first-of-type {
        border-top-left-radius: $border-radius!important;
        border-top-right-radius: $border-radius!important;
      }
      > label:last-of-type {
        border-bottom-left-radius: $border-radius!important;
        border-bottom-right-radius: $border-radius!important;
      }
      > label:not(:last-of-type) {
        border-bottom: 0!important;
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      display: none;
    }

    input[type="radio"] + label,
    input[type="checkbox"] + label {
      @extend .btn;
      @extend .btn-outline-primary;

      & .mdi {
        display: inline-block; position: relative; padding-left: 1.2em;
        &::before {
          position: relative; position: absolute;
          top: -2px;
          left: 0;
        }
      }
    }

    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label {
      &, &:hover {
        @extend .btn;
        @extend .btn-primary;
        cursor: default;
      }
    }
    input[type="checkbox"]:checked + label {
      &:hover {
        @extend .btn;
        @extend .btn-primary;
        cursor: default;
      }
    }

    input[type="radio"]:checked + label {
      &, &:hover {
        background: $primary!important;
        border-color: $primary!important;
        color: $gray-900!important;
        pointer-events: none;
      }
    }
    input[type="checkbox"]:checked + label {
      &:hover {
        background: $success!important;
        border-color: $success!important;
        color: $gray-900!important;
      }
    }
  }
}
