// ICONS

// MDI Icons

// Icon size modifiers

.mdi {
  &.mdi-18px {
    font-size: 18px;
    line-height: 18px;
  }
}

.mdi {
  &.mdi-24px {
    font-size: 24px;
    line-height: 24px;
  }
}

.mdi {
  &.mdi-36px {
    font-size: 36px;
    line-height: 36px;
  }
}

.mdi {
  &.mdi-48px {
    font-size: 48px;
    line-height: 48px;
  }
}

.mdi {
  &.mdi-lg {
    font-size: 70px;
    line-height: 70px;
  }
}

.mdi {
  &.mdi-xxl {
    font-size: 200px;
    line-height: 200px;
  }
}
