<!DOCTYPE html>
<html lang="en" class="stiky-footer">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <title> WindingTree PWA</title>
    <meta name="description" content="Making travel cheaper for consumers and more profitable for suppliers.">

    <!-- PWA Settings -->
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta property="og:title" content="Lif Market Validation Mechanism"/>
    <meta property="og:description" content="Making travel cheaper for consumers and more profitable for suppliers."/>
    <meta property="og:image" content="img/content/wt-refimg.png"/>
    <meta property="og:url" content="https://mvm.windingtree.com/#/"/>
    <meta property="og:site_name" content="Winding Tree"/>
    <meta name="git-rev" content="<%= GIT_REV %>">
    <meta name="ver" content="<%= VERSION_NUMBER %>">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="//windingtree.com/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#008A94"/>

    <link rel="apple-touch-icon" sizes="57x57" href="//windingtree.com/images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="//windingtree.com/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="//windingtree.com/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="//windingtree.com/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="//windingtree.com/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="//windingtree.com/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="//windingtree.com/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="//windingtree.com/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="//windingtree.com/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="//windingtree.com/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//windingtree.com/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="//windingtree.com/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//windingtree.com/images/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//windingtree.com/images/icons/favicon.png">
  </head>

  <body>
    <div id="app">
      <!-- <style>html,body{margin:0;padding:0;}</style> -->
    </div>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('service-worker.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed
            console.log('ServiceWorker registration failed: ', err);
          }).catch(function(err) {
            console.log(err)
          });
        });
      } else {
        console.log('service worker is not supported');
      }
    </script>
  </body>
</html>
